@model List<PSV.Models.DTOs.OperatorDetails>

<main>
    <a class="action-button" href="@Url.Action("Index", "Home")">
        <span class="material-symbols-outlined">
            arrow_back
        </span>
    </a>
    @{
        if (Model.Count == 0)
        {
            <h1>Brak operatorów w bazie danych</h1>
        }
        else
        {
            <table class="orders-list">
                <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Numer telefonu</th>
                    <th>Lokalizacja</th>
                </tr>
                </thead>
                <tbody>
                @{
                    foreach (var opr in Model)
                    {
                        <tr class="orders-list-row">
                            <td><a href="@Url.Action("Details", "Operator", new {opr.Id})">@opr.LastName</a></td>
                            <td>@opr.FirstName</td>
                            <td>@opr.PhoneNumber</td>
                            <td>@opr.Location</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        }
    }
</main>