@model PSV.Models.DTOs.OrderDetails;

<main>
    <h2 class="page-title">Zamówienie nr. @Model.OrderNumber</h2>
    <div class="details-container">
        <form class="order-details">
            <div class="time-info-container">
                <div class="time-info-group">
                    <h3 class="time-info-heading">Cięcie</h3>
                    <div class="time-info-details">
                        @{
                            if (Model.CutTime == null)
                            {
                                <span class="time-info-label">Nie wykonano</span>
                            }
                            else
                            {
                                <span class="time-info-label">Od: @Model.CutStart</span>
                                <span class="time-info-label">Do: @Model.CutEnd</span>
                                <span class="time-info-label">Czas: @Model.CutTime</span>
                                <span class="time-info-label">Operator: @Model.CutOperator</span>
                            }
                        }
                    </div>
                </div>
                <div class="time-info-group">
                    <h3 class="time-info-heading">Frezowanie</h3>
                    <div class="time-info-details">
                        @{
                            if (Model.MillingTime == null)
                            {
                                <span class="time-info-label">Nie wykonano</span>
                            }
                            else
                            {
                                <span class="time-info-label">Od:@Model.MillingStart</span>
                                <span class="time-info-label">Do:@Model.MillingEnd</span>
                                <span class="time-info-label">Czas:@Model.MillingTime</span>
                                <span class="time-info-label">Operator: @Model.MillingOperator</span>
                            }
                        }
                    </div>
                </div>
                <div class="time-info-group">
                    <h3 class="time-info-heading">Oklejanie</h3>
                    <div class="time-info-details">
                        @{
                            if (Model.WrappingTime == null)
                            {
                                <span class="time-info-label">Nie wykonano</span>
                            }
                            else
                            {
                                <span class="time-info-label">Od: @Model.WrappingStart</span>
                                <span class="time-info-label">Do: @Model.WrappingEnd</span>
                                <span class="time-info-label">Czas: @Model.WrappingTime</span>
                                <span class="time-info-label">Operator: @Model.WrappingOperator</span>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="input-group">
                <label for="orderNumber">Numer zamówienia: <span class="symbol-required">*</span></label>
                <input type="text" name="orderNumber" id="orderNumber" value="@Model.OrderNumber" disabled>
                <span id="errorOrderNumber" class="errors-text"></span>
            </div>
            <div class="input-group">
                <label asp-for="ClientId">Klient: <span class="symbol-required">*</span></label>
                <select asp-for="ClientId" disabled>
                    @{
                        foreach (var client in Model.AllClients)
                        {
                            <option value="@client.Id" selected="@(Model.ClientId == client.Id)">
                                @client.Name
                            </option>
                        }
                    }
                </select>
                <span asp-validation-for="ClientId" class="errors-text"></span>
            </div>
            <div class="input-group">
                <label for="location">Lokalizacja: <span class="symbol-required">*</span></label>
                <input type="text" name="location" id="location" value="@Model.Location" disabled>
                <span id="errorLocation" class="errors-text"></span>
            </div>
            <div class="input-group">
                <label for="edgeCodeProvided">Kod obrzeża podany: <span class="symbol-required">*</span></label>
                <input type="text" name="edgeCodeProvided" id="edgeCodeProvided" value="@Model.EdgeCodeProvided" disabled>
                <span id="errorEdgeCodeProvided" class="errors-text"></span>
            </div>
            <div class="input-group">
                <label for="edgeCodeUsed">Kod obrzeża zastosowany: <span class="symbol-required">*</span></label>
                <input type="text" name="edgeCodeUsed" id="edgeCodeUsed" value="@Model.EdgeCodeUsed" disabled>
                <span id="errorEdgeCodeUsed" class="errors-text"></span>
            </div>
            <div class="input-group-details-checkbox">
                <input type="checkbox" id="cutCheckbox" name="cutCheckbox" @(Model.Cut ? "checked" : "") disabled>
                <label for="cutCheckbox">Cięcie</label>
                <input type="checkbox" id="millingCheckbox" name="millingCheckbox" @(Model.Milling ? "checked" : "") disabled>
                <label for="millingCheckbox">Frezowanie</label>
                <input type="checkbox" id="wrappingCheckbox" name="wrappingCheckbox" @(Model.Wrapping ? "checked" : "") disabled>
                <label for="wrappingCheckbox">Oklejanie</label>
            </div>
        </form>
        <div class="photos-container">
            @{
                if (Model.Photos.Count > 0)
                {
                    foreach (var photo in Model.Photos)
                    {
                        <img src="@Url.Content(photo)" alt="order-photo" class="order-photo"> 
                    }
                }
            }
        </div>
        <div class="actions-container">
            <a href="@Url.Action("EditForm", new {Model.Id})" class="details-action">Edytuj</a>
            <a href="@Url.Action("Delete", new {Model.Id})" class="details-action">Usuń</a>
            <a href="@Url.Action("ViewComments", new {Model.Id})" class="details-action">Komentarze</a>
            <a href="@Url.Action("GetBarcode", new {Model.Id})" class="details-action">Pobierz kod kreskowy</a>
            <a href="@Url.Action("PrintBarcode", new {Model.Id})" class="details-action" target="_blank">Drukuj kod kreskowy</a>
        </div>
    </div>
</main>