@model PSV.Models.DTOs.ClientDetails

<main>
    <h2 class="page-title">@Model.Name - szczegółowe dane</h2>
    <div class="details-container">
        <form class="order-details">
            <div class="input-group">
                <label for="orderNumber">Nazwa klienta: <span class="symbol-required">*</span></label>
                <input type="text" name="orderNumber" id="orderNumber" value="@Model.Name" disabled>
                <span id="errorOrderNumber" class="errors-text"></span>
            </div>
            <div class="input-group">
                <label for="client">Adres klienta: <span class="symbol-required">*</span></label>
                <input type="text" name="client" id="client" value="@Model.Address" disabled>
                <span id="errorClient" class="errors-text"></span>
            </div>
            <div class="input-group">
                <label for="client">NIP: <span class="symbol-required">*</span></label>
                <input type="text" name="client" id="client" value="@Model.NIP" disabled>
                <span id="errorClient" class="errors-text"></span>
            </div>
            <div class="input-group">
                <label for="client">Email: <span class="symbol-required">*</span></label>
                <input type="text" name="client" id="client" value="@Model.Email" disabled>
                <span id="errorClient" class="errors-text"></span>
            </div>
            <div class="input-group">
                <label for="client">Numer telefonu: <span class="symbol-required">*</span></label>
                <input type="text" name="client" id="client" value="@Model.PhoneNumber" disabled>
                <span id="errorClient" class="errors-text"></span>
            </div>
        </form>
        <div class="actions-container">
            <a href="@Url.Action("EditForm", "Client", new {Model.Id})" class="details-action">Edytuj</a>
            <a href="@Url.Action("Delete", "Client", new {Model.Id})" class="details-action">Usuń</a>
        </div>
    </div>
</main>