@model PSV.Models.DTOs.PaginationViewModel<PSV.Models.DTOs.OrderList>

<main>
    <a class="action-button" href="@Url.Action("Menu", "Wrapping")">
        <span class="material-symbols-outlined">
            arrow_back
        </span>
    </a>
    <table class="orders-list">
        <thead>
        <tr>
            <th>Numer zlecenia</th>
            <th>Data wprowadzenia</th>
            <th>Klient</th>
            <th>Cięcie</th>
            <th>Frezowanie</th>
            <th>Oklejanie</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var order in Model.Items)
            {
                <tr class="orders-list-row">
                    <td><a href="@Url.Action("Order", "Wrapping", new { id = order.Id })">@order.OrderNumber</a></td>
                    <td>@order.CreatedAt</td>
                    <td>@order.Client</td>
                    <td>
                        @if (order.Cut)
                        {
                            <span class="material-symbols-outlined">
                                done
                            </span>
                        }
                        else
                        {
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        }
                    </td>
                    <td>
                        @if (order.Milling)
                        {
                            <span class="material-symbols-outlined">
                                done
                            </span>
                        }
                        else
                        {
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        }
                    </td>
                    <td>
                        @if (order.Wrapping)
                        {
                            <span class="material-symbols-outlined">
                                done
                            </span>
                        }
                        else
                        {
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        }
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
    <div class="paging">
        @if (Model.PageNumber > 1)
        {
        <a href="@Url.Action("All", "Wrapping", new { pageNumber = Model.PageNumber - 1, pageSize = Model.PageSize })">Poprzednia</a>
        }

        <span>Strona @Model.PageNumber z @Model.TotalPages</span>

        @if (Model.PageNumber < Model.TotalPages)
        {
        <a href="@Url.Action("All", "Wrapping", new { pageNumber = Model.PageNumber + 1, pageSize = Model.PageSize })">Następna</a>
        }
    </div>
</main>