@model PSV.Models.DTOs.OrderControl

<main>
    <a class="action-button" href="@Url.Action("Order", "Milling", new {Model.Id})">
        <span class="material-symbols-outlined">
            arrow_back
        </span>
    </a>
    <h2 class="page-title">Stanowisko frezowania - zlecenie nr. @Model.OrderNumber</h2>
    <div class="control-buttons">
        <form class="comments-form" asp-action="AddComment" asp-controller="Milling" method="post">
            <input asp-for="Id" type="hidden" value="@Model.Id"/>
            <input asp-for="OperatorId" type="hidden" value="@Model.OperatorId"/>
            <textarea asp-for="Comments">@Model.Comments</textarea>
            <button type="submit">Dodaj komentarz</button>
            <a class="control-button-cancel" href="@Url.Action("All","Milling")">Anuluj</a>
        </form>
    </div>
</main>