@model PSV.Models.DTOs.OrderControl

<main>
    <a class="action-button" href="@Url.Action("Menu", "Milling")">
        <span class="material-symbols-outlined">
            arrow_back
        </span>
    </a>
    <h2 class="page-title">Stanowisko frezowania - zlecenie nr. @Model.OrderNumber</h2>
    <div class="control-buttons">
        <form method="get" action="@Url.Action("UpdateMillingStartTime")">
            <div class="operator-select">
                <h3>Operator:</h3>
                <select name="operatorId">
                    @{
                        if (Model.Operators.Count == 0)
                        {
                            <option value="">Brak operatorów</option>
                        }
                        foreach (var opr in Model.Operators)
                        {
                            <option value="@opr.Id">@opr.FirstName @opr.LastName, @opr.Location</option>
                        }
                    }
                </select>
            </div>
            <div id="timerOn" style="display: none">@Html.Raw(Json.Serialize(Model.StartTimer))</div>
            @{
                if (Model.TotalTime == null)
                {
                    <h1 id="timer" class="timer">00:00:00</h1>
                }

                <h1 id="timer" class="timer">@Model.TotalTime</h1>
            }
            <div class="start-end">
                <input type="hidden" name="id" value="@Model.Id" />
                <button type="submit" formaction="@Url.Action("UpdateMillingStartTime")" class="control-button-start">Początek</button>
                <button type="submit" formaction="@Url.Action("UpdateMillingEndTime")" class="control-button-end">Koniec</button>
            </div>
        </form>
    </div>
    <script src="@Url.Content("~/js/timer.js")"></script>
</main>