@model PSV.Models.DTOs.OrderControl

<main>
    <a class="action-button" href="@Url.Action("Menu", "Milling")">
        <span class="material-symbols-outlined">
            arrow_back
        </span>
    </a>
    <h2 class="page-title">Stanowisko frezowania - zlecenie nr. @Model.OrderNumber</h2>
    <div class="control-buttons">
        <div id="timerOn" style="display: none">@Html.Raw(Json.Serialize(Model.StartTimer))</div>
        @{
            if (Model.TotalTime == null)
            {
                <h1 id="timer" class="timer">00:00:00</h1>
            }
            <h1 id="timer" class="timer">@Model.TotalTime</h1>
        }
        <div class="start-end">
            <a class="control-button-start" href="@Url.Action("UpdateMillingStartTime", new { Model.Id })">Początek</a>
            <a class="control-button-end" href="@Url.Action("UpdateMillingEndTime", new { Model.Id })">Koniec</a>
        </div>
    </div>
    <script src="@Url.Content("~/js/timer.js")"></script>
</main>