@model PSV.Models.DTOs.OrderControl

<main>
    <h2 class="page-title">Stanowisko frezowania - zlecenie nr. @Model.OrderNumber</h2>
    <div class="control-buttons">
        <div class="start-end">
            <a class="control-button" href="@Url.Action("UpdateMillingStartTime", new {Model.Id})">Początek</a>
            <a class="control-button" href="@Url.Action("UpdateMillingEndTime", new {Model.Id})">Koniec</a>
        </div>
        <form class="comments-form" asp-action="AddComment" asp-controller="Milling" method="post">
            <input asp-for="Id" type="hidden" value="@Model.Id"/>
            <textarea asp-for="Comments">@Model.Comments</textarea>
            <button type="submit">Dodaj komentarz</button>
        </form>
    </div>
</main>