<main class="starting-page">
    <h2>Menu główne</h2>
    <div class="button-wrapper">
        <a class="starting-page-button" href="@Url.Action("New", "Order")">Nowe zamówienie</a>
    </div>
    <div class="button-wrapper">
        <a class="starting-page-button" href="@Url.Action("All", "Order")">Lista zamówień</a>
    </div>
    <div class="button-wrapper">
        <a class="starting-page-button" href="@Url.Action("Search", "Order")">Wyszukaj zamówienie</a>
    </div>
    <div class="button-wrapper">
        <a class="starting-page-button" href="@Url.Action("RedirectToReleaseMenu", "Home")">Wydawanie zamówień</a>
    </div>
    <div class="button-wrapper">
        <a class="starting-page-button" href="@Url.Action("New", "Operator")">Nowy operator</a>
    </div>
    <div class="button-wrapper">
        <a class="starting-page-button" href="@Url.Action("All", "Operator")">Lista operatorów</a>
    </div>
    <div class="button-wrapper">
        <a class="starting-page-button" href="@Url.Action("New", "Client")">Nowy klient</a>
    </div>
    <div class="button-wrapper">
        <a class="starting-page-button" href="@Url.Action("All", "Client")">Lista klientów</a>
    </div>
    <div class="button-wrapper">
        <a class="starting-page-button" href="@Url.Action("NewReleaser", "OrderRelease")">Nowy wydawca</a>
    </div>
    <div class="button-wrapper">
        <a class="starting-page-button" href="@Url.Action("AllReleasers", "OrderRelease")">Lista wydawców</a>
    </div>
</main>